Support Tomcat 8.5

## Description
Tomcat 8.5をサポートするにあたり、ガイドラインへの影響を調べて必要に応じて反映する。

## Possible Solutions
- 以下の2箇所のAPサーバの表にTomcat 8.5に関する記述を追加
  - [6.1. データベースアクセス（共通編）](https://github.com/terasolunaorg/guideline/blame/master/source/ArchitectureInDetail/DataAccessDetail/DataAccessCommon.rst#L70-#L96 )
  - [8.1. E-mail送信(SMTP)](https://github.com/terasolunaorg/guideline/blame/master/source/ArchitectureInDetail/MessagingDetail/Email.rst#L198-#L218 )
- Tomcat 8.5に対応したことによるガイドラインへの影響は以下の2箇所
  - Tomcat 8.5は[RFC 7230](https://tools.ietf.org/html/rfc7230)に準拠しているため、HTTPステータスコードの説明句（reason-phrase）が出力されなくなっている
    - [5.1. RESTful Web Service　適切なHTTPステータスコードの使用の最後](https://github.com/terasolunaorg/guideline/blame/master/source/ArchitectureInDetail/WebServiceDetail/REST.rst#L795-#L803 )に[RFC 7230 section 3.1.2 Status Lineへのリンク](https://tools.ietf.org/html/rfc7230#section-3.1.2 )、及び説明を追加
  - Tomcat 8.5は[RFC 6265](https://tools.ietf.org/html/rfc6265)に準拠しているため、現在のガイドラインの記述どおり（Cookieの値にスペースが含まれている）ではエラーが発生する
    - [3.4. アプリケーション層の実装　Cookieに値を書き込むの最後](https://github.com/terasolunaorg/guideline/blame/master/source/ImplementationAtEachLayer/ApplicationLayer.rst#L1690-L1695 )に[RFC 6265 section 4.1 Set-Cookieへのリンク](https://tools.ietf.org/html/rfc6265#section-4.1 )、及び注意書きを追加

## Affects Version/s
- 5.3.0

## Fix Version/s
- [x] 5.3.0 JP
- [x] 5.3.0 JP (rework: add change log)
- [ ] 5.3.0 EN

## Issue Links
N/A

## ChangeLog
- [x] required

@sasakitsy 

Please assign.

@sasakitsy 
Please create issue for translation, and close this.

@btyoshikawaa @btyanagawamg 

リンクの追加などの対応(Tomcat 8.5固有の対応)だけだと思っていたのでChangelog=Noにしたんですが、HTTP Status LineのReason-Phraseの扱いや、Cookieで扱える値などの開発者に知っておいてもらいた情報(Note)を追加しているので、これらについてはChangelogを追加しておきたいな～と思いました。



@sasakitsy 

Reworking is completed !

Translating issue is #2518, so close this issue.